<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
 <link rel="stylesheet" href="css/estilo.css">
</head>
<body>
	<div class="alert alert-success alert-dismissible" role="alert"
		th:switch="${codigo}">
		<div id = "alerta" th:case="'1'">
			<div class="boxCorreto">
				<div class="boxIconeCorreto">
					<img src="img/verifica.png" />
				</div>
				<div class="boxMensagemCorreto">
					<span th:text="${mensagem}"></span>
				</div>
			</div>
		</div>
		<div id = "alerta" th:case="'2'">
			<div class="boxAlerta">
				<div class="boxIconeAlerta">
					<img src="img/erro.png" />
				</div>
				<div class="boxMensagemAlerta">
					<span th:text="${mensagem}"></span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>